<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="container">
            <div class="module form-module">
                <div class="form">
                    <h2>Login to your account</h2>
                    <form>
                        <input type="text" placeholder="Username" />
                        <input type="password" placeholder="Password" />
                        <button>Login</button>
                    </form>
                </div>
                <div class="form">
                    <h2>Create an account</h2>
                    <form action="/signup" method="post">
                        <input name="username" type="text" placeholder="Username" />
                        <input name="password" type="password" placeholder="Password" />
                        <input name="confirmpassword" type="password" placeholder="Confirm Password" />
                        <input name="email" type="email" placeholder="Email Address" />
                        <button>Register</button>
                    </form>
                </div>
                <div class="cta"><a href="#">Forgot your password?</a></div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <% include ../partials/footer %>
    </footer>

</body>

</html>
